@model DogShelterMvc.Models.Storage

@{
    ViewData["Title"] = "Smazat sklad";
}

<h1>Smazat sklad</h1>

<h3>Jste si jisti, že chcete smazat tento sklad?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Název</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">Kapacita</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Capacity)</dd>
        <dt class="col-sm-2">Typ</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Type)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
    </form>
</div>

