@model DogShelterMvc.Models.Shelter

@{
    ViewData["Title"] = "Přidat útulek";
}

<h1>Přidat nový útulek</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Název</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label">Telefon</label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressID" class="control-label">Adresa</label>
                <select asp-for="AddressID" class="form-control" asp-items="ViewBag.AddressID">
                    <option value="">-- Vyberte adresu --</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Vytvořit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

