@model DogShelterMvc.Models.MedicalEquipment

@{
    ViewData["Title"] = "Přidat lékařské vybavení";
}

<h1>Přidat nové lékařské vybavení</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicalName" class="control-label">Název</label>
                <input asp-for="MedicalName" class="form-control" />
                <span asp-validation-for="MedicalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Počet</label>
                <input asp-for="Count" class="form-control" type="number" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkladID" class="control-label">Sklad</label>
                <select asp-for="SkladID" class="form-control" asp-items="ViewBag.SkladID">
                    <option value="">-- Vyberte sklad --</option>
                </select>
                <span asp-validation-for="SkladID" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Vytvořit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

