@model DogShelterMvc.Models.MedicalEquipment

@{
    ViewData["Title"] = "Smazat lékařské vybavení";
}

<h1>Smazat lékařské vybavení</h1>

<h3>Jste si jisti, že chcete smazat toto vybavení?</h3>
<div>
    <h4>@Model.MedicalName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Název</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MedicalName)</dd>
        <dt class="col-sm-2">Počet</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Count)</dd>
        <dt class="col-sm-2">Sklad</dt>
        <dd class="col-sm-10">@(Model.Sklad?.Name ?? "Není přiřazen")</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
    </form>
</div>

