@model DogShelterMvc.Models.Quarantine

@{
    ViewData["Title"] = "Smazat karanténu";
}

<h1>Smazat karanténu</h1>

<h3>Jste si jisti, že chcete smazat tuto karanténu?</h3>
<div>
    <h4>Karanténa #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Datum začátku</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BeginOfDate)</dd>
        <dt class="col-sm-2">Datum konce</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EndOfDate)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
    </form>
</div>

