@model DogShelterMvc.Models.Owner

@{
    ViewData["Title"] = "Smazat majitele";
}

<h1>Smazat majitele</h1>

<h3>Jste si jisti, že chcete smazat tohoto majitele?</h3>
<div>
    <h4>@Model.Name @Model.Surname</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Jméno</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">Příjmení</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Surname)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
    </form>
</div>

