@model DogShelterMvc.Models.DogHistory

@{
    ViewData["Title"] = "Smazat záznam historie";
}

<h1>Smazat záznam historie</h1>

<h3>Jste si jisti, že chcete smazat tento záznam?</h3>
<div>
    <h4>Záznam #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Datum události</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DateOfEvent)</dd>
        <dt class="col-sm-2">Popis události</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EventDescription)</dd>
        <dt class="col-sm-2">Pes</dt>
        <dd class="col-sm-10">@(Model.Pes?.Name ?? "Není přiřazen")</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
    </form>
</div>

